BuisnessLayer/bin/
.vs/
BuisnessLayer/obj/
BusinessLayer.CohesiveObjects/bin/
BusinessLayer.CohesiveObjects/obj/
BusinessLayer_Test/bin/
BusinessLayer_Test/obj/
CrosscuttingConcerns/bin/Debug/CrosscuttingConcerns.dll
CrosscuttingConcerns/bin/Debug/CrosscuttingConcerns.pdb
CrosscuttingConcerns/bin/Debug/EntityFramework.dll
CrosscuttingConcerns/bin/
CrosscuttingConcerns/obj/Debug/CrosscuttingConcerns.csprojResolveAssemblyReference.cache
CrosscuttingConcerns/obj/
DataAccessLayer.CohesiveObjects/bin/
DataAccessLayer.CohesiveObjects/obj/
DataAccessLayer.Implementation.Test/bin/
DataAccessLayer.Implementation.Test/obj/
DataAccessLayer.Implementation/bin/
DataAccessLayer.Implementation/obj/
Infrastructure.Core.DataContracts/bin/
Infrastructure.Core.DataContracts/obj/
Infrastructure.DataAccess.Core/bin/
Infrastructure.DataAccess.Core/obj/
Infrastructure.Security/bin/
Infrastructure.Security/obj/
Infrastructure.Service.Core/obj/
Infrastructure.Service.Core/bin/
packages/
SoftwareLicenses.Console/bin/
SoftwareLicenses.Console/obj/
SoftwareLicenses.WebApi/bin/
SoftwareLicenses.WebApi/obj/
WebApi/bin/
WebApi/obj/
